<!DOCTYPE html>
<html>

    <head>
        <title>Rowan Lindsay</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="newstyle.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="window">
                <div id="content">
                    <div id="bio" v-if="on_section('bio')">
                        <h3> {{ sections['bio'].title }} </h3>
                        <p> {{ sections['bio'].text }} </p>
                    </div>
                    <div id="project" v-if="on_section('project')">
                        <h3> {{ sections['project'].title }} </h3>
                        <p> {{ sections['project'].text }} </p>
                    </div>
                    <div id="links" v-if="on_section('links')">
                        <h3> {{ sections['links'].title }} </h3>
                        <p> {{ sections['bio'].text }} </p>
                    </div>
                </div>
                <div id="bottom">
                    <button id="left_button" v-if="display_left_nav" v-on:click="switch_left"> < {{ section_left.title }} </button>
                    <button id="right_button" v-if="display_right_nav" v-on:click="switch_right"> {{ section_right.title }} > </button>
                </div>
            </div>
        </div>
        <script src="content.js"></script>
    </body>
</html>
