html {
    font-family: "Andale Mono", Futura, monospace, "sans-serif";
    background-color: cornflowerblue;
}

#window {
    width: 700px;
    height: 500px;
    color: black;
    background-color: white;
    outline: black solid 2px;

    font-size: 14px;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}

#content {
    height: 90%;
}

#bottom {
    height: 10%;
}

#left_button {
    float: left;
}

#right_button {
    float: right;
}

#bottom button {

    height: 30px;

    outline: none;
    background-color: black;
    color: white;
    border: none;
    font-family: "Andale Mono", Futura;
}