body {
  background-color: #003366;
  color: white;
  padding: 36px;
  font-family: monospace, "sans-serif";
  line-height: 20px;
}

#bio {
  max-width: 600px;
}

#link {
  font-size: 30px;
  color: white;
}

#site-links {

  ul{
    list-style: none;
  }
  li{
    display: inline;
  }
}

#siteinfo {
  position: fixed;
  bottom: 10px;
  text-align: left;
  font-size: 14px;
}

a {
  color: pink;
}
